body{
    font-family: arial;
}
h1, h2 {
    color: green;
}
h2 {
    font-style: italic;
}
ul li a {
    color: orange;
}
ol li a {
    color: red;
}
.para1 {
    color: blue;
}
.para2 {
    color: red;
}